Hello from Oisin <br>

Attempting curly brace binding::
<br>
Hi {{firstName}}, can't belive your last name is also {{lastName}}

{{input value=lastName}} <br><br>

{{input value=input2Value}} <br>

<button {{action 'press' input2Value}}	>Press me!	</button>

{{yield}}